{% extends "block/header.html" %}
{% block title %}Профиль{% endblock %}
{% block main %}
        <div class="container_login">
            <div class="login_main_text">Профиль</div>
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="container_prof_wrapper"><p class="pr_text">Логин: {{ user.username }}</p></div>
            <div class="container_prof_wrapper"><p class="pr_text">Почта: {{ user.email }}</p></div>
            <div class="container_prof_wrapper"><p class="pr_text"> Рейтинг: {{ reiting }}</p></div>
            <a type="submit" href="/account/logout" class="error">Выйти из аккаунта</a>
        </div>
{% endblock %}
