{% extends "block/header.html" %}
{% block title %}Урок 3{% endblock %}
{% block main %}
{% load static %}
    <main class="education_main">
        <div class="edu">
            <h1 style="text-align: center;">Урок третий. Шахматная нотация. Запись позиции.</h1>

            <p> Шахматная нотация (от лат. notatio — записывание, обозначение) — система условных обозначений, применяемых для записи шахматной партии или 
                положения фигур на шахматной доске.
                В большинстве стран принята алгебраическая нотация. Впервые она была предложена ещё в 1616 году в сочинении «Шахматы, или Королевская игра» 
                немецкого герцога Августа Младшего (псевдоним — Густавус Селенус). В следующем столетии нотацию разрабатывал Филипп Стамма, и, наконец, в 
                современном виде она появилась в книге, изданной в Германии в 1784 году Гиршелем.</p>

            <p>Запись хода состоит из таких компонентов:

                Порядковый номер хода.
                Указание на фигуру совершающую ход.
                Поле, с которого сделан ход.
                Символ взятия — буква x, либо тире для тихого хода (—).
                Поле, на которое сделан ход.
                Если пешка совершила превращение, после целевого поля указывается обозначение фигуры, в которую она превратилась.
                Рокировка в длинную сторону записывается как 0-0-0, в короткую как 0-0.</p>
                <h3>Необязательные пункты:</h3>
                
            <p>Для взятия на проходе — знак e.p. (фр. en passant).
            Для шаха — знак плюс (+). Для мата — решётка (#) или два плюса (++). В случае предложения ничьей, записывается знак «(=)».
            Многоточие (…) — знак хода чёрных. Записывается после номера хода, если в записи отсутствует предыдущий ход белых.<br><br>
            Пример — запись детского мата:<br>
            
            1. e2—e4 e7—e5<br>
            2. Сf1—c4 Кb8—c6<br>
            3. Фd1—h5 Кg8—f6<br>
            4. Фh5xf7#<br><br>
            Существует вариант алгебраической нотации, в котором для обозначения взятия используется двоеточие :, для мата — крест ×, для двойного шаха — 
            двойной плюс (++). Эта нотация с советского времени широко используется в шахматной литературе на русском языке.<br>
            
            Формат записи ходов PGN требует обозначать рокировку как «O-O-O», с буквой «O» вместо нуля. В случае превращения пешки, перед фигурой, в 
            которую пешка превращается, записывается знак равенства.<br>
            
            По правилам ФИДЕ запись ходов на бланках должна быть в алгебраической нотации, при этом предпочтительнее использовать сокращённую запись. 
            Полная форма записи ходов в правилах ФИДЕ указывается без знака тире при тихом ходе, например 1. e2e4, хотя тире и не запрещено явным образом.<br>
            
            Сокращённая запись ходов<br>
            Не указывается исходное поле. Та же партия с детским матом в сокращённой нотации выглядит так:<br><br>
            
            1. e4 e5<br>
            2. Сc4 Кc6<br>
            3. Фh5 Кf6<br>
            4. Фxf7#<br><br>
            Если такая нотация не позволяет указать ход однозначно (например, на какое-нибудь поле могут пойти две одинаковые фигуры), добавляется одна 
            из координат исходного поля (если возможно — вертикаль), например, Лae1 или К3c4.<br>
            
            Взятия пешек записываются cxd4. Иногда используется запись cd4 или cd (если не возникает неоднозначности).</p>
        

    </main>
{% endblock %}
