<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Тарарина Ольга">
    <meta name="description" content="Личный сайт">
    <meta name="keywords" content="programm,programming,html,css,js,nodejs,python,c++,программирование,программист,код">
    <link rel="stylesheet" media="all" href="{% static "css/style.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    <link rel="shortcut icon" href="#"/>
    <title>Игра</title>
</head>
<body>
    <header>
        <header class="header-left">
            <a class="logo_header" href="">Главная</a>
            <a class="game_header" href="/setting/">Игра</a>
            <a class="edu_header" href="education.html">Обучение</a>
        </header>
        <header class="header-right">
            <div class="dropdown">
                <a class="settings">Настройки</a>
                <div class="dropdown-content">
                    <a class="fon">Фон</a>
                    <a class="style-figures">Оформление фигур</a>
                    <a class="style-board">Оформление доски</a>
                </div>
              </div>
            <a class="login_href" href="/login/">Войти</a>
        </header>
    </header>

    <main>
        <div class="container_chess">
            <table class="table_chess">
                {% for array in board %}
                    <tr>
                        {% for temp in array %}
                            <td class= {{ temp.color|safe }} >
                                {% if temp.fig == "p" %}
                                    <img height="45px" width="45px" src="{% static "images/black_pawn.png" %}">
                                {% elif temp.fig == "P" %}
                                    <img height="45px" width="45px" src="{% static "images/white_pawn.png" %}">
                                {% elif temp.fig == "r" %}
                                    <img height="45px" width="45px" src="{% static "images/black_rock.png" %}">
                                {% elif temp.fig == "R" %}
                                    <img height="45px" width="45px" src="{% static "images/white_rock.png" %}">
                                {% elif temp.fig == "n" %}
                                    <img height="45px" width="45px" src="{% static "images/black_knight.png" %}">
                                {% elif temp.fig == "N" %}
                                    <img height="45px" width="45px" src="{% static "images/white_knight.png" %}">
                                {% elif temp.fig == "k" %}
                                    <img height="45px" width="45px" src="{% static "images/black_king.png" %}">
                                {% elif temp.fig == "K" %}
                                    <img height="45px" width="45px" src="{% static "images/white_king.png" %}">
                                {% elif temp.fig == "b" %}
                                    <img height="45px" width="45px" src="{% static "images/black_bishop.png" %}">
                                {% elif temp.fig == "B" %}
                                    <img height="45px" width="45px" src="{% static "images/white_bishop.png" %}">
                                {% elif temp.fig == "q" %}
                                    <img height="45px" width="45px" src="{% static "images/black_queen.png" %}">
                                {% elif temp.fig == "Q" %}
                                    <img height="45px" width="45px" src="{% static "images/white_queen.png" %}">
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="menu_chess">
            <div class="timer"><span class="time_enter" id="black_timer"></span></div>
            <div class="container_menu">
                <div><progress class="black_time_bar" max="100" value="100"></progress></div>
                <div>
                    <button class="reverse" onclick="reverse_board();"><img height="20px" width="20px" src="{% static "images/reverse.png" %}"></button>
                    <button class="left-left" onclick="fullBack_stroke();"><img height="20px" width="20px" src="{% static "images/left-left.png" %}"></button>
                    <button class="left" onclick="back_stroke();"><img height="20px" width="20px" src="{% static "images/left.png" %}"></button>
                    <button class="right" onclick="next_stroke();"><img height="20px" width="20px" src="{% static "images/right.png" %}"></button>
                    <button class="right-right" onclick="fullNext_stroke();"><img height="20px" width="20px" src="{% static "images/right-right.png" %}"></button>
                </div>
                <div class="list_of_stroke" style="height: 200px;"></div>
                <div><progress class="white_time_bar" max="100" value="100"></progress></div>
            </div>        
            <div class="timer"><span class="time_enter" id="white_timer"></span></div>
        </div>
    </main>
    <script language="JavaScript" type="text/javascript" src={% static "js/ind.js" %}></script>
    <script language="JavaScript" type="text/javascript" src={% static "js/chess_move.js" %}></script>
</body>
</html>
            