{% extends "block/header.html" %}
{% block title %}Игра{% endblock %}
{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style_board.css" %}" />
        <div class="container_chess">
            <table class="table_chess">
                {% for array in board %}
                    <tr>
                    {% if sty_sess_f == '2' %}
                        {% for temp in array %}
                            <td id= {{ temp.id|safe }} class= {{ temp.color|safe }} >
                                {% if temp.fig == "p" %}
                                    <img class="figure figure-black" height="45px" width="45px" src="{% static "images/figure_st2/black_pawn.png" %}">
                                {% elif temp.fig == "P" %}
                                    <img class="figure figure-white" height="45px" width="45px" src="{% static "images/figure_st2/white_pawn.png" %}">
                                {% elif temp.fig == "r" %}
                                    <img class="figure figure-black" height="45px" width="45px" src="{% static "images/figure_st2/black_rock.png" %}">
                                {% elif temp.fig == "R" %}
                                    <img class="figure figure-white" height="45px" width="45px" src="{% static "images/figure_st2/white_rock.png" %}">
                                {% elif temp.fig == "n" %}
                                    <img class="figure figure-black" height="45px" width="45px" src="{% static "images/figure_st2/black_knight.png" %}">
                                {% elif temp.fig == "N" %}
                                    <img class="figure figure-white" height="45px" width="45px" src="{% static "images/figure_st2/white_knight.png" %}">
                                {% elif temp.fig == "k" %}
                                    <img class="figure figure-black" height="45px" width="45px" src="{% static "images/figure_st2/black_king.png" %}">
                                {% elif temp.fig == "K" %}
                                    <img class="figure figure-white" height="45px" width="45px" src="{% static "images/figure_st2/white_king.png" %}">
                                {% elif temp.fig == "b" %}
                                    <img class="figure figure-black" height="45px" width="45px" src="{% static "images/figure_st2/black_bishop.png" %}">
                                {% elif temp.fig == "B" %}
                                    <img class="figure figure-white" height="45px" width="45px" src="{% static "images/figure_st2/white_bishop.png" %}">
                                {% elif temp.fig == "q" %}
                                    <img class="figure figure-black" height="45px" width="45px" src="{% static "images/figure_st2/black_queen.png" %}">
                                {% elif temp.fig == "Q" %}
                                    <img class="figure figure-white" height="45px" width="45px" src="{% static "images/figure_st2/white_queen.png" %}">
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% else %}
                        {% for temp in array %}
                            <td id= {{ temp.id|safe }} class= {{ temp.color|safe }} >
                                {% if temp.fig == "p" %}
                                    <img class="figure figure-black" height="60px" width="40px" src="{% static "images/figure_st1/black_p.png" %}">
                                {% elif temp.fig == "P" %}
                                    <img class="figure figure-white" height="60px" width="40px" src="{% static "images/figure_st1/white_p.png" %}">
                                {% elif temp.fig == "r" %}
                                    <img class="figure figure-black" height="60px" width="40px" src="{% static "images/figure_st1/black_r.png" %}">
                                {% elif temp.fig == "R" %}
                                    <img class="figure figure-white" height="60px" width="40px" src="{% static "images/figure_st1/white_r.png" %}">
                                {% elif temp.fig == "n" %}
                                    <img class="figure figure-black" height="60px" width="40px" src="{% static "images/figure_st1/black_n.png" %}">
                                {% elif temp.fig == "N" %}
                                    <img class="figure figure-white" height="60px" width="40px" src="{% static "images/figure_st1/white_n.png" %}">
                                {% elif temp.fig == "k" %}
                                    <img class="figure figure-black" height="60px" width="40px" src="{% static "images/figure_st1/black_k.png" %}">
                                {% elif temp.fig == "K" %}
                                    <img class="figure figure-white" height="60px" width="40px" src="{% static "images/figure_st1/white_k.png" %}">
                                {% elif temp.fig == "b" %}
                                    <img class="figure figure-black" height="60px" width="40px" src="{% static "images/figure_st1/black_b.png" %}">
                                {% elif temp.fig == "B" %}
                                    <img class="figure figure-white" height="60px" width="40px" src="{% static "images/figure_st1/white_b.png" %}">
                                {% elif temp.fig == "q" %}
                                    <img class="figure figure-black" height="60px" width="40px" src="{% static "images/figure_st1/black_q.png" %}">
                                {% elif temp.fig == "Q" %}
                                    <img class="figure figure-white" height="60px" width="40px" src="{% static "images/figure_st1/white_q.png" %}">
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="menu_chess">
            <div class="timer"><span class="time_enter" id="black_timer"></span></div>
            <div class="container_menu">
                <div><progress class="black_time_bar" max="100" value="100"></progress></div>
                <div>
                    <button class="reverse" onclick="reverse_board();"><img height="20px" width="20px" src="{% static "images/reverse.png" %}"></button>
                    <button class="left-left" onclick="fullBack_stroke();"><img height="20px" width="20px" src="{% static "images/left-left.png" %}"></button>
                    <button class="left" onclick="back_stroke();"><img height="20px" width="20px" src="{% static "images/left.png" %}"></button>
                    <button class="right" onclick="next_stroke();"><img height="20px" width="20px" src="{% static "images/right.png" %}"></button>
                    <button class="right-right" onclick="fullNext_stroke();"><img height="20px" width="20px" src="{% static "images/right-right.png" %}"></button>
                </div>
                <div class="list_of_stroke" style="height: 200px;"></div>
                <div><progress class="white_time_bar" max="100" value="100"></progress></div>
            </div>        
            <div class="timer"><span class="time_enter" id="white_timer"></span></div>
        </div>
    <script language="JavaScript" type="text/javascript" src={% static "js/ind.js" %}></script>
    <script language="JavaScript" type="text/javascript" src={% static "js/chess_move.js" %}></script>
{% endblock %}
            