{% extends "block/header.html" %}
{% block title %}Обучение{% endblock %}
{% block main %}
        <div class="edu">
            <h1>Оглавление</h1>
            <ul>
                <li><a class="info_for_edu" href="/education/les1" style="font-size: 22px;">Урок первый. Знакомство с шахматами.</a></li>
                <li><a class="info_for_edu" href="/education/les2" style="font-size: 22px;">Урок второй. Шахматная доска.</a></li>
                <li><a class="info_for_edu" href="/education/les3" style="font-size: 22px;">Урок третий. Шахматная нотация. Запись позиции.</a></li>
                <li><a class="info_for_edu" href="/education/les4" style="font-size: 22px;">Урок четвертый. Ходы.</a></li>
                <li><a class="info_for_edu" href="/education/les5" style="font-size: 22px;">Урок пятый. Итоги игры.</a></li>
            </ul>
        </div>
{% endblock %}