<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Тарарина Ольга">
    <meta name="description" content="Личный сайт">
    <meta name="keywords" content="programm,programming,html,css,js,nodejs,python,c++,программирование,программист,код">
    <link rel="stylesheet" media="all" href="{% static "css/style.css" %}" />
    <title>Главная</title>
</head>
<body>
    <header>
        <header class="header-left">
            <a class="logo_header" href="../">Главная</a>
            <a class="game_header" href="/setting">Игра</a>
            <a class="edu_header" href="education.html">Обучение</a>
        </header>
        <header class="header-right">
            <div class="dropdown">
                <a class="settings">Настройки</a>
                <div class="dropdown-content">
                    <a class="fon">Фон</a>
                    <a class="style-figures">Оформление фигур</a>
                    <a class="style-board">Оформление доски</a>
                </div>
              </div>
        </header>
    </header>
    <main>
            <div class="container_login">
                <form action="", method="POST">
                    {% csrf_token %}
                    <div class="login_main_text">Войти</div>
                    <div class="login_text">Логин или электронная почта</div>
                    <input class="login_inp" type="text" name="login" value="">
                    <div class="login_text">Пароль</div>
                    <input class="password_inp" type="password" name="password"><br>
                    <button type="submit" id="enter">Войти</button>
                </form>
            </div>
            <script type="text/javascript" src={% static "js/ind.js" %}></script>
    </main>
    </body>
    </html>