<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Тарарина Ольга">
    <meta name="description" content="Личный сайт">
    <meta name="keywords" content="programm,programming,html,css,js,nodejs,python,c++,программирование,программист,код">
    <link rel="stylesheet" media="all" href="{% static "css/style.css" %}" />
    <title>Настройки</title>
</head>
<body>
    <header>
        <header class="header-left">
            <a class="logo_header" href="../">Главная</a>
            <a class="edu_header" href="education.html">Обучение</a>
        </header>
        <header class="header-right">
            <div class="dropdown">
                <a class="settings">Настройки</a>
                <div class="dropdown-content">
                    <a class="fon">Фон</a>
                    <a class="style-figures">Оформление фигур</a>
                    <a class="style-board">Оформление доски</a>
                </div>
              </div>
              <a class="login_href" href="/login/">Войти</a>
        </header>
    </header>
    <script type="text/javascript" src={% static "js/ind.js" %}></script>
    <main>
    <div class="start_game_block">
        <div class="container_start_game">
            <div class="container_extra">
                <h1>Сыграть с компьютером</h1>
                <div class="control_time_block">
                    <form>
                        <span>Контроль времени: </span>
                        <select class="time_control">
                            <option selected>Отсутствует</option>
                            <option>По часам</option>
                        </select>
                    </form>
                    <div class="extra_time_menu">
                        <span>Минут на партию: </span><span class="time_for_game">5</span>
                        <input name="range" type="range", class="range", value="7" min="0" max="32" step="1" oninput="show_time(this.value, 0)">
                        <br>
                        <span>Добавление секунд на ход: </span><span class="time_for_game">3</span>
                        <input name="range" type="range", class="range", value="3" min="0" max="30" step="1" oninput="show_time(this.value, 1)">
                    </div>
                </div>
                <div class="color_start_game_block">
                    <form>
                        <span>Цвет: </span>
                        <select class="color_control">
                            <option selected>Случайный</option>
                            <option>Белый</option>
                            <option>Черный</option>
                        </select>
                    </form>
                </div>
                <a class ="start_game_call" href="/chess/">Играть с компьютером</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>