{% extends "block/header.html" %}
{% block title %}Настройки{% endblock %}
{% block main %}
{% load static %}
<div class="login_block">
    <div class="container_login">
        <div class="login_main_text">Стилизация страниц
            <form method="POST" class="post-form" action="change_style/">{% csrf_token %}
                <button type="submit" name="style_setting" value="ligth"><img class="" height="150px" width="200px" src="{% static "images/light.png" %}"></button>
                <button type="submit" name="style_setting" value="dark"><img class="" height="150px" width="200px" src="{% static "images/dark.png" %}"></button>
            </form>
        </div>
        <div class="login_main_text">Стилизация фигур
            <form method="POST" class="post-form" action="change_style_figure/">{% csrf_token %}
                <button type="submit" name="style_setting_figure" value="2"><img class="" height="120px" width="100px" src="{% static "images/figure_st2/white_queen.png" %}"><img class="" height="120px" width="100px" src="{% static "images/figure_st2/black_king.png" %}"></button>
                <button type="submit" name="style_setting_figure" value="1"><img class="" height="120px" width="80px" src="{% static "images/figure_st1/white_q.png" %}"><img class="" height="120px" width="80px" src="{% static "images/figure_st1/black_k.png" %}"></button>
            </form>
        </div>
        <div class="login_main_text">Стилизация доски
            <form method="POST" class="post-form" action="change_style_board/">{% csrf_token %}
                <button type="submit" name="style_setting_board" value="1"><img class="" height="150px" width="200px" src="{% static "images/board1.jpg" %}"></button>
                <button type="submit" name="style_setting_board" value="2"><img class="" height="150px" width="200px" src="{% static "images/board2.png" %}"></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
            